<%# Navigation section %>
<%= partial 'partials/navbar'%>
  <div class="">
    <!-- Banner Section -->
    <div class="container-page container-landing">
      <div class="container-content">
        <%= partial 'partials/banner'%>
      </div>
    </div>
    <!-- About Section -->
    <div class="container-page container-about">
      <div class="container-content">
          <%= partial 'partials/about'%>
      </div>
    </div>
    <!-- Projects Section -->
    <div class="container-page container-projects">
      <div class="container-content">
        <%= partial 'partials/projects'%>
      </div>
    </div>
    <%# Videos links Section %>
    <div class="container-page container-videos">
      <div class="container-content">
        <%= partial 'partials/videos'%>
      </div>
    </div>
    <!-- Social Links Section -->
    <%# <%= partial 'partials/social' %>
  </div>
<!-- Footer section -->
<%= partial 'partials/footer' %>
